<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create new service</h1>
    <form method="POST">
        <label>Tên</label><br>
        <input type="text" name="name">
        <br>
        <label >Yob</label><br> 
        <input type="text" name="yob">
        <br>
        <label >Địa chỉ</label><br>
        <input type="text" name="address">
        <br>
        <label >Chiều cao</label><br>
        <input type="text" name="height">
        <br>
        <label >SDT</label><br>
        <input type="text" name="phone">
        <br>
        <label >Mô Tả</label><br>
        <input type="text" name="description">
        <br>
        <label >Trạng thái</label><br>
        <input type="text" name="Status">
        <br>
        <label>Giới tính: </label><br>
        <label>
                <input type="radio" name="gender" value="male" name="gender"> Male
        </label>
        <br>
        <label>
            <input type="radio" name="gender" value="female" name="gender"> Female
        </label>
        <br>
        <label>            
            <input type="radio" name="gender" value="other" name="gender"> Other</label>
        </label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>