<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
</head>
<body>
    <h1>Create new user</h1>
    <form method="post">
        <label>Username: </label><br>
        <input type="text" name="username">
        <br>
        <label >Password:</label><br> 
        <input type="password" name="password">
        <br>
        <label >Mail: </label><br>
        <input type="text" name="email">
        <br>
        <label >Full name: </label><br>
        <input type="text" name="fullname">
        <br>
        <button type="submit">Đăng ký</button>
    </form>
</body>
</html>